@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

object#pdf-main {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin-bottom: 0px;
}

#pdf-bar {
	position: absolute;
	z-index: 99;
	left: 0px;
	right: 0px;
}

.bar-location-top #pdf-bar {
	top: 0px;
}

.bar-location-bottom #pdf-bar {
	bottom: 0px;
}

#pdf-bar .inner {
	text-align: center;
	position: relative;
	padding: 20px 45px 20px 45px;
	font-size: 16px;
	font-weight: 300;
}

a.btn {
	display: inline-block;
	padding: 7px 20px;
	margin-left: 15px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: 400;
}

a.btn:hover {
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.20);
}

.close-btn {
	display: block;
	background: url("../images/close_btn.png");
	height: 48px;
	width: 48px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -24px;
	cursor: pointer;
}